@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* import Google Font*/

:host { /* :root does not work, instead, use :host */
    --main-font-family: 'Roboto', sans-serif;
    --second-color: #ffc107;
}

/* CSS title of project */
.title {
    font-family: var(--main-font-family);
    font-weight: 900;
    color: var(--second-color);
}

/* CSS for the mai container*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    background-color: rgb(50, 50, 50);
}

/* CSS for the primary text displayed in the calculator*/
.text-displayed-01 {
    font-family: var(--main-font-family);
    font-weight: 500;

    word-wrap: break-word;
}

/* CSS for the secondary text displayed in the calculator*/
.text-displayed-02 {
    font-family: var(--main-font-family);
    font-weight: 100;
}

/* CSS for the history elements */
.history-container {
    width: 300px;
    flex: 550px;
    overflow-y: auto;
    background-color: #212529;

    font-family: var(--main-font-family);
    font-weight: 100;
}

.history-container>h3 {
    color: var(--second-color);
    text-align: center;
}

.history-container>p {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 1px dotted rgb(100, 100, 100);
    color: white;
}